<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
    <title>Drag & Drop | Проект 2</title>
  </head>
  <body>
    <div>
      <div class="row">
          <div class="col-header start">Начать</div>
          <div class="col-header progress">В процессе</div>
          <div class="col-header test">Тестирование</div>
          <div class="col-header done">Выполнено</div>
      </div>

      <div class="row">
        <div class="placeholder">
          <div class="item" draggable="true">Задача 1</div>
        </div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
      <div class="row">
        <div class="placeholder">
          <div class="item" draggable="true">Задача 2</div>
        </div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', path='/app.js') }}"></script>
</html>
